<launch>
    <node pkg="demo5" name="detector" type="detect_node.py" output="screen"></node>
    <node pkg="rqt_gui" name="rqt_gui" type="rqt_gui"></node>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find demo5)/launch/3dsensor.launch"/>
    <!-- Launches rviz, map server, move base -->
    <include file="$(find demo5)/launch/amcl_demo_sim.launch"/>
    <include file="$(find demo5)/launch/marker_track.launch"/>
    
    <include file="$(find demo5)/launch/cam_bottom.launch"/>
</launch>