
<launch>
    <!-- <arg name="robot_name2" default=""/> -->
    <arg name="robot_name2" default=""/>
    <arg name="robot_name1" default="turtlebot1"/>

    <include file="$(find comp_1)/launch/include/velocity_smoother.launch.xml"/>
    <node pkg="comp_1" name="wander" type="object_tracker.py" output="screen">
        <param name="robot_name" value="$(arg robot_name1)"/>
    </node>

    <!-- <node pkg="comp_1" name="wander" type="evader.py"  output="screen">
        <param name="robot_name" value="$(arg robot_name2)"/>
    </node> -->

    <node pkg="joy" name="joy_node" type="joy_node" output="screen">
    </node>


</launch>