
<launch>
    <arg name="robot_name2" default="turtlebot2"/>
    <arg name="robot_name1" default="turtlebot1"/>
    
    <node pkg="comp_1" name="wander" type="wander.py" ns="$(arg robot_name2)" output="screen">
        <param name="robot_name" value="$(arg robot_name2)"/>
    </node>

    <node pkg="comp_1" name="wander" type="wander.py" ns="$(arg robot_name1)" output="screen">
        <param name="robot_name" value="$(arg robot_name1)"/>
    </node>
</launch>