<launch>
    <arg name="ns1" value="turtlebot1"/>
    <arg name="ns2" value="turtlebot2"/>
    <include file="$(find comp_1)/launch/object_follower.launch">   
        <arg name="robot_name" value="$(arg ns1)"/>
    </include>
    <include file="$(find comp_1)/launch/wander.launch">   
        <arg name="robot_name" value="$(arg ns2)"/>
    </include>
</launch>